@import "../../assets/styles/variables";

section {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    // min-height: 100vh;

    overflow: hidden;


    .content-wrapper {
        .home {
            background-image: url(../../assets/images/home/background-home-desktop.jpg);
            background-size: cover;
            position: relative;
            z-index: 1;



            .home-wrapper-about {
                @media (min-width: 1080px) and (max-width: 2340px) {
                    margin: 20vh auto;
                }

                .home-text__header {

                    h1 {
                        font-size: 4rem;
                        font-weight: 400;
                        letter-spacing: .2rem;
                        text-transform: uppercase;

                        small {
                            font-size: 10rem;

                            @media (min-width: 1080px) and (max-width: 2340px) {
                                margin-top: 6rem;
                            }
                        }

                        @media (min-width: 1080px) and (max-width: 2340px) {
                            margin-bottom: 6rem;
                        }

                    }

                    p {
                        font-size: 2rem;
                        font-weight: 400;
                        letter-spacing: 0.2rem;
                        margin-top: 2rem;
                    }
                }

                .home-link__wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    width: 20rem;
                    height: 20rem;
                    border-radius: 50%;
                    background: $white-000;
                    position: relative;
                    cursor: pointer;
                    transition: all 0.5s ease-in-out;




                    &::before {
                        content: "";
                        position: absolute;
                        width: 200%;
                        height: 200%;
                        border-radius: 50%;
                        background: grey;
                        z-index: -11;

                        opacity: 0;
                    }

                    &:hover::before {
                        opacity: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .home-link__explore {
                        color: black;
                        text-decoration: none;
                        font-size: 4rem;
                        font-style: italic;
                        font-weight: 500;
                    }

                }

            }




        }

        .destination {
            background-image: url(../../assets/images/destination/background-destination-desktop.jpg);
            background-size: cover;

            .destination-names {
                .destination-nav-wrapper {
                    .destination-nav {

                        display: flex;
                        align-items: center;
                        color: $text-color ;
                        font-style: normal;
                        font-weight: 500;
                        letter-spacing: .2rem;
                        font-size: 2rem;
                        list-style-type: none;

                        .nav-item {
                            text-decoration: none;

                            .nav-link {

                                &.active {
                                    padding: 2rem 0;
                                    border-bottom: 2px solid $white-000;
                                    color: $text-color !important;
                                }
                            }
                        }

                    }

                }

                .moon-about {
                    h1 {
                        font-family: "Bellefair";
                        font-size: 15rem;
                        font-weight: 400;
                        font-style: normal;
                    }

                    @media (min-width: 576px) and (max-width: 768.98px) {
                        /* styles for tablets go here */
                        width: 60%;
                        margin: auto;
                    }
                }

            }

        }

        .crew {
            background-image: url(../../assets/images/crew/background-crew-desktop.jpg);
            background-size: cover;

            .about-crew {
                .about-crew__text {
                    h1 {
                        opacity: 50%;
                        letter-spacing: .2rem;
                        // font-size: 4rem;
                        font-style: normal;
                        font-weight: 400;
                    }

                    h2 {
                        font-size: 5rem;
                        font-weight: 500;
                        font-style: normal;
                        letter-spacing: .2rem;
                    }

                    p {

                        font-weight: 400;
                        letter-spacing: 0.2rem;
                        line-height: 2;
                    }
                }

                .about-crew_dots {
                    .active {
                        background-color: $white-000;
                    }

                    span {
                        height: 1rem;
                        width: 1rem;
                        background-color: $dot-in-active-color;
                        border-radius: 50%;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;

                        &::before {
                            content: "";
                            position: absolute;
                            width: 1rem;
                            height: 1rem;
                            border-radius: 50%;
                            background: $dot-in-active-color;
                            // z-index: -11;

                            opacity: 0;
                        }

                        &:hover::before {
                            opacity: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }

        .technology {
            background-image: url(../../assets/images/technology/background-technology-desktop.jpg);
            background-size: cover;
            min-height: 100vh;

            @media (min-width: 300px) and (max-width: 1200px) {
                min-height: calc(100vh + 4rem);
            }

            .about-technology {


                .tech-picture {
                    picture {
                        img {
                            min-height: 50vh !important;
                        }
                    }
                }

                .about-technology__text {
                    h1 {
                        opacity: 50%;
                        letter-spacing: .2rem;
                        font-size: 4rem;
                        font-style: normal;
                        font-weight: 400;
                    }

                    h2 {
                        font-family: "Bellefair";
                        font-weight: 400;
                        font-style: normal;
                        font-size: 8rem;

                        @media (min-width: 300px) and (max-width: 1200px) {
                            font-size: 5rem;
                        }
                    }

                    p {
                        font-size: 2rem;
                        font-weight: 400;
                        letter-spacing: 0.2rem;
                        line-height: 2;
                    }
                }

                .about-technology_dots {
                    .active {
                        background-color: $white-000;
                        color: black;
                    }

                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 8rem;
                        width: 8rem;
                        background-color: "transparent";
                        border: 2px solid $white-000;
                        border-radius: 50%;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;
                        color: $white-000;
                        font-size: 4rem;

                        &::before {
                            content: "";
                            position: absolute;
                            width: 8rem;
                            height: 8rem;
                            border-radius: 50%;
                            // background-color: $white-000;
                            // color: black;
                            // z-index: -11;

                            opacity: 0;
                        }

                        &:hover::before {
                            opacity: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: blue;
                        }
                    }
                }
            }
        }
    }
}