@import "./variables";

html {
    // This means 1rem = 10px
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;

    @media (max-width: 900px) {
        font-size: 59.5%;
    }

    @media (max-width: 700px) {
        font-size: 55.5%;
    }
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #9d9d9d;
    border-radius: 5rem;
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Barlow Condensed';
    font-weight: 500;
    font-size: 1.6rem;
    font-style: normal;
    // color: $cool-gray;
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        .d-#{$breakpoint}-none {
            display: none !important;
        }

        .d-#{$breakpoint}-block {
            display: block !important;
        }
    }
}

@each $name, $size in $font-sizes {
    .font-size-#{$name} {
        font-size: $size;
    }

    @media (min-width: 576px) {

        // sm
        .font-size-sm-#{$name} {
            font-size: $size;
        }
    }

    @media (min-width: 768px) {

        // md
        .font-size-md-#{$name} {
            font-size: $size;
        }
    }

    // Add more media queries for other sizes (lg, xl, etc.) if needed
}

@media (min-width: 968px) {
    .w-md-auto {
        width: auto !important;
    }

    .w-sm-wide {
        width: 100% !important;
    }
}